html {
  height: 100vh;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-image: linear-gradient(to top, rgb(98, 49, 210), rgb(202, 97, 48));*/
  background-image: url(https://i.pinimg.com/564x/0b/3d/e6/0b3de63a79164a743d029b25185256d9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
}

.card {
  width: 300px;
  padding: 10px;
  /*background-image: linear-gradient(to bottom, #e2e2e2, #ccc, #202020);*/
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  height: 400px;
  overflow-y: auto;
  margin: 10px;
  background: linear-gradient(to bottom right, #db4b1be1, #256dc6f4)
}

.card h2 {
  font-size: 18px;
  font-weight: 600;
}

.card p {
  font-size: 14px;
  color: black;
}

.card p:hover {
  cursor: pointer;
  color: bold rgb(0, 0, 0);
}

.card img {
  height: 100px;
  width: 100px;
  position: sticky;
  left: 95px;
  right: 5px;
  top: 0;
  bottom: 0;
  transition: all 0.4s ease-in-out;
}

.card img:hover {
  transform: scale(1.2);
  margin-bottom: 5px;
}

.rounded-square {
  margin-right: 10px;
  border-radius: 8px;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: none;
  margin-top: 20px;
  padding-top: 20px;
}

.icon-container a {
  margin: 15px;
  font-size: 40px; 
}

.card-container {
  display: flex;
  justify-content: center;
}

.card-container ul,
.card-container a {
  text-align: center;
  text-decoration: none;
  list-style: none;
  color: black;
  margin-top: 0px;
  position: relative;
  top: 20px;
  right: 5px;
}

.card-container a {
  text-decoration: none;
  color: #6217d2b6;
  border-radius: 10px;
  border: none;
  transition: all 0.6s ease-in-out;
  margin-top: auto;
}

.card-container a:hover {
  color: #32ffd9ea;
  transform: scale(1.2);
}

button {
  background-image: linear-gradient(to bottom right, #256dc6f4, rgb(202, 97, 48));
  border: solid black;
  border-radius: 5px;
  margin-top: 5px;
}

button a {
  text-decoration: none;
  color: Black;
}

button:hover {
  background-image: linear-gradient(to bottom left, #4c00ff, #22c561);
}

