html {
  height: 100vh;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(0, 0, 0);
  /*background: linear-gradient(43deg, rgb(165, 55, 18) 35%, rgb(31, 153, 177) 35%, rgb(54, 147, 163) 77%, rgb(162, 74, 41) 77%, rgb(191, 63, 20) 84%, rgb(32, 168, 196) 84%);*/
  /*background-image: url(https://i.pinimg.com/564x/0b/3d/e6/0b3de63a79164a743d029b25185256d9.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
}

.card {
  width: 450px;
  padding: 10px;
  /*background-image: linear-gradient(to bottom, #e2e2e2, #ccc, #202020);*/
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.892);
  -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.892);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.892);
  height: 450px;
  overflow-y: auto;
  top: 15px;
  background: linear-gradient(to bottom right, #f3541fe1, #2b7ee2f4);
  margin-top: 40px;
}

.card h2 {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.card p {
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.card p:hover {
  cursor: pointer;
  color: bold rgb(255, 255, 255);
}

.card img {
  height: 100px;
  width: 100px;
  position: sticky;
  transition: all 0.4s ease-in-out;
}

.card img:hover {
  transform: scale(1.2);
  margin-bottom: 5px;
}

.rounded-square {
  margin-right: 10px;
  border-radius: 8px;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: none;
  padding-top: 20px;
}

.icon-container a {
  font-size: 40px; 
}


.card-container ul,
.card-container li,
.card-container a {
  text-align: center;
  text-decoration: none;
  list-style: none;
  color: rgb(255, 252, 252);
  margin-top: 20px;
  display: block;
}

.card-container a {
  text-decoration: none;
  color: #6217d2b6;
  border-radius: 10px;
  border: none;
  transition: all 0.6s ease-in-out;
  margin-top: auto;
}

.card-container a:hover {
  color: #32ffd9ea;
  transform: scale(1.2);
}

button {
  background-image: linear-gradient(to bottom right, #256dc6f4, rgb(202, 97, 48));
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 40px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.35);

}

button a {
  text-decoration: none;
  color: rgb(255, 252, 252);
}

button:hover {
  background-image: linear-gradient(to bottom left, #4c00ff, #22c561);
}

.invert-colors {
  filter: invert(100%);
}