html {
  height: 100vh;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top, rgb(98, 49, 210), rgb(202, 97, 48));
}
#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
}

.card {
  max-width: 450px;
  padding: 10px;
  background-image: linear-gradient(to bottom, #e2e2e2, #ccc, #202020);
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  height: 500px;
  overflow-y: auto;
}

.card h2 {
  font-size: 18px;
  font-weight: 600;
}

.card p {
  font-size: 14px;
  color: black;
}

.card p:hover {
  cursor: pointer;
  color: red;
}

.card img {
  height: 100px;
  width: 100px;
  position: relative;
  left: 180px;
  top: 0;
  bottom: 0;
  transition: all 0.4s ease;
}

.card img:hover {
  transform: scale(1.2);
  margin-bottom: 5px;
}

.rounded-square {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  gap: none;
}

.icon-container a {
  margin: 40px;
  font-size: 40px; 
}

.card-container {
  display: flex;
  justify-content: center;
}

.card-container ul {
  text-align: center;
  text-decoration: none;
  list-style: none;
  color: black;
}

.card-container a {
  text-decoration: none;
  color: #741bb8;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease;
}

.card-container a:hover {
  color: rgb(255, 111, 0);
  transform: scale(1.2);
}